.modal {
    background-color: rgba(45, 45, 45, 0.5);;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-close-button {
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}
