.header {
  display: flex;
  height: 5rem;
  position: sticky;
  align-items: center;
  background-color: #2b2b2b;
  /* color: #bad989; */
  color: #f5f5f5;
  padding: 0 2%;
}
.title {
  text-transform: none;
}

nav {
  position: absolute;
  right: 6%;
  display: flex;
  align-items: center;
  column-gap: 5%;
}

.icon-login {
  width: 1.3rem;
}

.icon-cart {
  width: 1.4rem;
}

nav > ul {
  list-style: none;
  display: flex;
}
