.input-search {
  background-color: #f5f5f5;
  height: .8rem;
  width: 10rem;
  border: hidden;
  padding: 5%;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1rem;
}
.input-search:focus{
  outline: none;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: .8rem;
  padding: 5%;
  width: .8rem;
  background-color: #f5f5f5;
  /* margin-left: 3%; */
  border: none;
}

.input-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.search-result {
  position: absolute;
  top: 65%;
  width: 11rem;
  margin-top: 0.5rem;
  /* padding: 5%; */
  height: 4rem;
  background-color: #f5f5f5;
  color: #2b2b2b;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 5px 5px  #2b2b2b;
}